.container {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: 10rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.name {
  margin-top: 1rem !important;
}

a {
  font-size: x-large;
}

/* unvisited link */

a:link, a:visited {
  color: black;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: grey;
}

body {
  background-color: white;
  font-family: Verdana, sans-serif;
}

.w3-border {
  border: 0.19rem solid #ccc !important;
}

.links-container {
  display: flex;
  flex-direction: column;
  jusify-content: center;
  gap: 1rem;
  align-items: center;
}

.links-container a {
  width: 80%;
}

.profession {
  font-size: 1rem;
}

.subscribe {
  font-size: 1rem;
}

.submit form {
  display: flex;
  flex-direction: column;
}

.submit form button {
  margin-top: 1rem;
  background-color: rgba(27, 122, 159, 0.9) !important;
  color: #fff !important;
}

.submit form button:hover {
  background-color: rgba(15, 67, 87, 0.9) !important;
  color: #fff !important;
}
.submit form input {
  width: 100% !important;
}
.submit form input::placeholder {
  color: #fff;
}

.icons {
  display: flex;
  gap: 2rem;
  jusify-content: center;
  align-items: center;
}

.icons a {
  display: flex;
  gap: 2rem;
  jusify-content: center;
  align-items: center;
  text-decoration: none;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 1rem;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1rem;
}

/* The navigation menu links */
.sidenav a {
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 10rem; /* Same as the width of the sidebar */
  padding: 0rem 1rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1rem;}
  .sidenav a {font-size: 1rem;}
}

@media screen and (min-width: 768px) {
  .link {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .profession {
    font-size: 24px;
  }
}
